
* {
    text-align: center;
    font-family: "Helvetica";
}

.container {
    margin-left: 150px;
    margin-right: 150px;
    clear: both;
}

body {
    background-color: gray;
}

header, #nav {
    background-color: white;
    color: gray;
    height: 35px;
    margin-bottom: 10px;
    padding: 25px;
}

#left {
    background-color: white;
    color: gray;
    width: 60%;
    height: 300px;
    float: left;
}

#aside {
    background-color: white;
    color: gray;
    width: 40%;
    height: 300px;
    float: left;
    
}