body {
    font-family: 'Arial' , 'Helvetica Neue' , Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    clear: both;
    overflow: hidden;
}

#header, #nav, #section, #aside, #footer {
    background: #ebebeb;
    margin: auto;
    text-align: center;
}

#header, #nav {
    height: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#header {
    margin-bottom: 10px;
}

#nav {
    margin-bottom: 15px;
}

#section {
    float: left;
    width: 60%;
    height: 200px;
    overflow: auto;
}

#aside {
    float: right;
    width: 39%;
    height: 200px;
    
}

#article {
    color: #ebebeb;
    background: #777;
    width: 90%;
    /* margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px; */
    margin: auto;
    margin-top: 50px;
    height: 60%;
    
}

#headers, p {
    color: #777;
    background: #ebebeb;
}

#footer {
    float: left;
    width: 960px;
    margin-top: 10px;
}