
* {
    text-align: center;
    font-family: "Helvetica";
}

.container {
    margin-left: 150px;
    margin-right: 150px;
}

body {
    background-color: gray;
}

header, #nav {
    background-color: white;
    color: gray;
    height: 35px;
    margin-bottom: 10px;
    padding: 25px;
}